<h1>Nowa obserwacja</h1>
<form {{action "zapisz" on="submit"}}>
  <div class="form-group">
    <label for="name">Stwór</label>
    {{#x-select value=model.obserwacja.stwor class="form-control"}}
      {{#x-option}}Wybierz stwora{{/x-option}}
      {{#each model.stwory as |stwor|}}
        {{#x-option value=stwor}}{{stwor.nazwa}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
  <div class="form-group">
    <label>Świadkowie</label>
    {{#x-select value=model.obserwacja.swiadkowie class="form-control"}}
      {{#x-option}}Wybierz świadków{{/x-option}}
      {{#each model.swiadkowie as |swiadek|}}
        {{#x-option value=swiadek}}{{swiadek.imieNazwisko}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
  <div class="form-group">
    <label for="location">Miejsce</label>
    {{input
      value=model.obserwacja.miejsce
      type="text"
      class="form-control"
      name="miejsce"
      required=true
    }}
  </div>
  <button type="submit" class="btn btn-primary btn-block">Zapisz</button>
  <button {{action 'anuluj'}} class="btn btn-link btn-block">Anuluj</button>
</form>
